@import "~bootswatch/dist/zephyr/variables";
@import "~bootstrap/scss/bootstrap";

.zero-padding {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

card-footer-container {
    @extend .container;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.zero-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.zero-bottom-margin {
    margin-bottom: 0;
}

.crop-text {
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

card-footer {
    @extend .text-muted, .card-footer;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

container-footer-row {
    @extend .row, .align-items-center, .justify-content-between;
    margin-left: 0;
    margin-right: 0;
}

[type='radio'] {
    display: none; 
}

.show-xs-only {
    @extend .d-block, .d-sm-none;
}

.show-md-only{
    @extend .d-none, .d-sm-block;
}

deal-card-body {
    @extend .card-body, .zero-padding, .zero-margin;
}

flat-container {
    @extend .container, .zero-padding, .zero-margin;
}

deal-row {
    @extend .row, .align-items-center, .justify-content-between;
    margin-left: 0;
    margin-right: 0;
}

popover-votes-row {
    @extend .row, .align-items-center;
}

deal-logo-column {
    @extend .col, .d-flex, .justify-content-center, .flex-wrap;
    padding-right: 0;
}

deal-logo {
    @extend .figure;
    margin: 1rem 0 1rem;
}

deal-card {
    @extend .card;
    margin-bottom: 0.5rem;
}

.radio-up-md {
    --button-default-height: 50px !important;

    --button-disabled-color: #00b909 !important;
    --button-disabled-color-dark: #018601 !important;
    --button-disabled-color-hover: #06b900 !important;
    --button-disabled-color-light: #fff;

    --button-primary-color:  #9fb99f !important;
    --button-primary-color-dark: #5f805f !important;
    --button-primary-color-hover: #71af74 !important;
    --button-primary-color-active: #17bb17 !important;

    margin-bottom: 0;
}

.radio-down-md {
    --button-default-height: 50px !important;
    
    --button-disabled-color: #b90000 !important;
    --button-disabled-color-dark: #860101 !important;
    --button-disabled-color-hover: #b90000 !important;
    --button-disabled-color-light: #fff;

    --button-primary-color:  #b69b9b !important;
    --button-primary-color-dark: #816464 !important;
    --button-primary-color-hover: #b47d7d !important;
    --button-primary-color-active: #b82e2e !important;

    margin-bottom: 0;
}

.radio-up-xs {
    --button-default-height: 40px !important;
    --button-horizontal-padding: 15px !important;

    --button-disabled-color: #00b909 !important;
    --button-disabled-color-dark: #018601 !important;
    --button-disabled-color-hover: #06b900 !important;
    --button-disabled-color-light: #fff;

    --button-primary-color:  #9fb99f !important;
    --button-primary-color-dark: #5f805f !important;
    --button-primary-color-hover: #71af74 !important;
    --button-primary-color-active: #17bb17 !important;

    margin-bottom: 10px;
}

.radio-down-xs {
    --button-default-height: 40px !important;
    --button-horizontal-padding: 15px !important;

    --button-disabled-color: #b90000 !important;
    --button-disabled-color-dark: #860101 !important;
    --button-disabled-color-hover: #b90000 !important;
    --button-disabled-color-light: #fff;

    --button-primary-color:  #b69b9b !important;
    --button-primary-color-dark: #816464 !important;
    --button-primary-color-hover: #b47d7d !important;
    --button-primary-color-active: #b82e2e !important;

    margin-bottom: 10px;
}

.figure-img {
    margin-bottom: 0;
}

.footer-icon-calendar {
    margin-top: -2px;
    margin-right: 5px;
}

.footer-icon {
    margin-left: 15px;
}

main-spinner {
    @extend .spinner-grow, .text-danger;
    position: fixed;
    z-index: 1000;
    top: 48%;
    left: 48%;
}

.button-svg {
    margin-bottom: 5px;
}

.graph-svg {
    margin-right: 5px;
}

.aws-btn {
    --button-default-height: 32px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: 0.175s;
    --button-primary-color: #1e88e5;
    --button-primary-color-dark: #1360a4;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #187bd1;
    --button-primary-border: none;
    --button-secondary-color: #f2f6f9;
    --button-secondary-color-dark: #1360a4;
    --button-secondary-color-light: #1e88e5;
    --button-secondary-color-hover: #e1eaf1;
    --button-secondary-border: 2px solid #1e88e5;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-border: none;
}

.score-text {
    color: #2fb380;
}