// Override default variables before the import
@import "~bootswatch/dist/zephyr/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/zephyr/bootswatch";

.zero-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

slim-card-footer {
    @extend .text-muted, .card-footer;
    padding: 0.5rem 0.5rem;
}

.zero-bottom-margin {
    margin-bottom: 0 !important;
}